*{
	margin:0;
	padding:0;
}
.nav-default a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    list-style: none;
    color: #ffffff;
    font-size: 12px;
}
.nav-default a i {
    padding-right: 10px;
}
.bg-image span video {
    max-height: 100%;
    height: auto;
    vertical-align: middle;
}
h4.plus-image {
    position: relative;
}
.section3 .plus-image span img {
    max-height: 100%;
    height: auto;
    width: 100%;
    margin: 10px 0;
}
.plus-image input.form-control.shadow-sm.bg-body.rounded {
    display: block;
    clear: both;
    width: 100%;
    margin: 5px 0;
}
ul.navbar-nav.top-nav a {
    line-height: 21px;
    text-decoration: none;
    color: #ccc;
    padding: 0 0 0;
}
.nav-default li {
    list-style: none;
    padding-top: 20px;
}
.admin-header {
    border-bottom: 1px solid #b2c0cf;
    margin-top: 0px;
    padding: 5px;
}
ul.navbar-nav.top-nav li img {
    width: auto;
    height: 22px;
}
.side-bar {
    background: #424242;
    height: auto;
	padding :0;
    box-shadow: 0 0 14px 5px #ccc;
}
.right-header {
margin: 0;
padding: 0;
}
ul.nav-default {
       padding: 0;
}
.side-bar h3 {
    color: #fff;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 0;
    border-bottom: 1px solid;
}
ul.nav-default li {
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
	
}
ul.nav-default li:hover, ul.nav-default li.active {
    background: #7c782b;
}
.plus-image span input {
    width: 67%;
    margin-left: 10px;
}
ul.navbar-nav.top-nav li {
    margin-right: 25px;
}
.welcome {
    font-size: 25px;
    margin: 0;
    font-weight: 700;
    letter-spacing: 2px;
}
.welcome span {color: #7d792b;}
.side-logo {
    padding: 18px 15px;
    font-size: 23px;
    color: aliceblue;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-weight: 900;
}

.head-logo {
    width: 200px;
}
.service {
    margin-top: 25px;
    border-radius: 5px;
    padding: 0 10px;
    height: calc(100vh - 143px);
    overflow: auto;
}
h4.section-name {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
}
h3, h4, h5 {text-transform: capitalize;}
h3 , h5{color: #7d792b;}
span .form-control {
    display: inline-block !important;
    clear: none;
    width: auto;
    padding: 3px 10px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: #cccccc;
}
.plus-image, h4 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 0;
    color: #777;
}
.image{
	    display: inline;
    border-radius: 45px;
    width: 170px;
    letter-spacing: 1px;
    margin-left: 20px;
}

.img-content {
    display: inline-block;
    width: 33%;
	    padding-right: 10px;
}
.Root{
    border: 1px solid #ccc;
    border-radius: 5px;
	    padding: 20px;
    margin-top: 15px;
}
.btn-success {
    padding: 0 15px 0 15px;
}
.save-cencil{
	    margin: 25px;
}
.extra{
   border-radius: 40px;
    /*width: 95px;*/
}